body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgb(61, 45, 204) 0%, #08fdd8  77%); /* w3c */
}

button {
  cursor: pointer;
}
